# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Environments
.venv/
venv/

# Data and artifacts
data/
outputs/
models/
submissions/
wandb/
mlruns/

# OS / editor
.DS_Store
.idea/
.vscode/
